<div class="row">
		<div class="col-sm-6 col-sm-offset-4">
				<div class="row" >
					<strong>Email</strong>
					<input type="text" ng-model="User.username" class="form-control" />
				</div>
				
				<div class="row">
					<strong>About me</strong>
					<input type="text" ng-model="User.about_me" class="form-control" />
				</div>
				<button ng-click="createProfile()">Submit</button>
				
		</div>
</div>